{% extends 'layout.html' %}
{% block content %}

	<header class="py-6">
        <div class="container flex justify-between items-center mx-auto px-8 md:px-14 lg:px-24 w-full fixed bg-[#0F141A] p-4 top-0">
            <div class="text-2xl font-bold"><a href="{{ url_for('main.home') }}"><span style="color: #00BFA6;">Un</span>Louder</a></div>
            <div class="hidden md:flex md:space-x-8 lg:space-x-12 items-center">
                <a href="{{ url_for('main.home') }}">Home</a>
            </div>
        </div>
    </header>
    <input type="text" id="uploadStatusID" class="hidden" value="{{uploadStatusID}}">
    <div class="mt-16 justify-center mx-auto w-2/3">
    	<div class="selection:bg-slate-900 selection:text-slate-100 hover:text-inherit mx-auto max-w-xl shadow-xl p-8 text-sm leading-6 sm:text-base sm:leading-7 bg-slate-800 text-slate-400">
            <p class="text-justify">
                Processing, it takes time wanka 😏
            </p>
        </div>
    </div>

    <div class="mt-8 justify-center mx-auto w-2/3">
        <div class="selection:bg-slate-900 selection:text-slate-100 hover:text-inherit my-auto mx-auto max-w-xl shadow-xl p-8 text-sm leading-6 sm:text-base sm:leading-7 bg-slate-800 text-slate-400">
            <p class="text-justify overflow-x-auto">
                <span class="text-xl font-extrabold text-slate-200"><span style="color: #00BFA6; text-decoration: underline;">SHA256</span> CheckSum</span><br><br> <span id="sha256checksum" class="z-1 opacity-100 text-[#00BFA6] font-bold">{{checksum}}</span>
            </p>
            <p class="mt-4">(The key above is SHA256-checksum generated of file and acts as identifier when u later retrieve the file, so make sure u save this...)</p>
        </div>
    </div>

    <div class="mt-8 justify-center mx-auto w-2/3">
        <div class="selection:bg-slate-900 selection:text-slate-100 hover:text-inherit my-auto mx-auto max-w-xl shadow-xl p-8 text-sm leading-6 sm:text-base sm:leading-7 bg-slate-800 text-slate-400">
            <p class="text-justify overflow-x-auto">
                <span class="text-xl font-extrabold text-slate-200"><span style="color: #00BFA6; text-decoration: underline;">Q</span>ueue</span><br><br>
                {% if queue %}
                    <span id="sha256checksum" class="z-1 opacity-100 text-[#00BFA6] font-bold">
                        Current Uploads in Queue: {{ queue }}
                    </span>
                {% endif %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        // Fuckkk, i suck at web JS :(
        var interval = 2000;
        var uploadStatusID = $('#uploadStatusID').val();
        function getStatus() {
            $.ajax({
            url: "status/upload/" + uploadStatusID,
            type: "get",
            success: function(response) {
                $("#sha256checksum").html(response.split(":")[1]);
            },
            complete: function (response) {
                    // Schedule the next
                    var resp = response.responseText;
                    var status = resp.split(":")[0];
                    console.log(status);
                    if ( status == 'True' || status == 'Error' ){
                        clearInterval(interval);
                    }
                    else{
                        setTimeout(getStatus, interval);
                    }
            },
            error: function(xhr) {
                // Do Something to handle error
                // Maybe just get lost... XD
            }
            });
    }
    setTimeout(getStatus, interval);
    </script>


{% endblock content %}